import {
  Platform
} from 'react-native';

function doSomething() {

  if (Platform.OS === 'android') {
    //
  }
  else {
    //
  }

  //ou mieux

  const resultatEnFonctionDeLaPlateforme = Platform.select({ 
    ios:{}, // Ici on peut mettre ce que l'on veut : Integer, Object, Function et bien sûr Component
    android:{} 
    })

}